# Node
node_modules/
npm-debug.log*
yarn-debug.log*

# Quasar / build
frontend/dist/
frontend/.quasar/
.tmp/

# Env
.env
.env.*.local

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Docker
.dockerignore
